@font-face {
    font-family: 'LaneNarrowRegular';
    src: url('./fonts/LANENAR_-webfont.eot');
    src: url('./fonts/LANENAR_-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/LANENAR_-webfont.woff') format('woff'),
         url('./fonts/LANENAR_-webfont.ttf') format('truetype'),
         url('./fonts/LANENAR_-webfont.svg#LaneNarrowRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

/* Layout */
body{
	background:url('../img/debut_light.png');
    margin:0;
    padding:0;
	font: 18px/27px 'LaneNarrowRegular', Arial, sans-serif;
}

.top-border{
	background:url('../img/top-order.png');
    height: 81px;
    width: 100%;
}

.bottom-border{
	background:url('../img/bottom-border.png');
	height:116px;
	position: relative;
	width:100%;
    top:-25px;
}

.header-content{
    position: relative;
    width: 100%;
    display: flex;
}

.logo{
	background:url('../img/logo.png');
    width: 495px;
    height: 195px;
    position: relative;
    margin-left: 15px;
    background-repeat: no-repeat;
    flex: 1;
}

.crookedSpace img{
	max-width:100%;
	margin-top:5px;
	margin-bottom:5px;
	position:relative;
}

.Details{
	margin-right:20px;
	font-size:24px;
}

.ContactDetail{
	text-align: right;
}

.ContactDetail li a{
	color:#000;
	text-decoration: none;
	font: 24px/28px 'LaneNarrowRegular',Arial,sans-serif;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
    filter: dropshadow(color=#000000, offx=0, offy=0);
}

.ContactDetail li{
	list-style:none;
}

.detail-icon{
	background-image:url('../img/detailsSprite.png');
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin-left: 5px;
    position: relative;
    top: 6px;
}

.bitbucket{ background-position: 0 0; width: 16px; height: 16px; }
.email{ background-position: 0 -66px; width: 16px; height: 13px; }
.linkedin{ background-position: 0 -129px; width: 16px; height: 16px; }


a.title{
	text-decoration: none;
	color:#000;
}

a.title:hover{
	text-decoration: none;
	color:#000;
}

.container{
    padding-left:15px;
    padding-right:15px;
}

.crookedSpace{
    margin-top: 20px;
    margin-bottom:20px;
    img{
        width: 100%;
    }
}

h1{
    margin-bottom:20px;
}

a{
    color:#000;
    text-decoration: none;
}

/* sticky */
*{margin:0;}
html, body {
    height: 100%;
}

#wrap {
    height: auto !important;
    margin: 0 auto -80px;
    min-height: 100%;
}

.height100{
    height: 100%;
}

#push, #footer {
    height: 80px;
}

#footer {
    background:url('../img/footer-border.png');
	height:80px;
}

#footer .container{
	bottom:-25px;
	position:relative;
	color:#000;
}
/* General Paragraph */

.lead{
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

/* Components */
/*@import "../components/Nav/style.css";*/
